<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Employee Management</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script type="text/javascript" src="{% static 'js/custom.js'%}"></script>
    </head>
    <body></body>

        <h2 id = "reset-pass-header" class="form-header reset-pwd">Password Reset</h2>
        <form id = "reset-pass-form" name="forgetpassword" method="post" onsubmit="" class="form">
            {% csrf_token %}
            <div class="formarea" id = "formarea">
                {{ form.as_p }}
                <div id = 'message_placeholder'></div>
                <input type="submit" class="btn submitbtn" value="Submit">
            </div>
        </form>
    <script>
    var message = document.getElementById("message_placeholder");
    var submit_button = document.querySelector("[value=Submit]");
    submit_button.addEventListener("click", reset_password);
    var csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;

    function reset_password(event) {
        event.preventDefault();
        request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if(this.readyState==4 && this.status==200){
                if(this.responseText=='"expired"'){
                    message.className = "alert alert-success";
                    message.textContent = "Confirmation link is expired!!!";
                }
                else if (this.responseText=='"invalid"'){
                    message.className = "alert alert-success";
                    message.textContent = "Password and comfirm password not match!!";
                }
                else if (this.responseText == '"success"'){
                    message.className = "alert alert-success";
                    message.textContent = "Password reset successfully!"
                }
            }
        }
        var password = document.getElementById('id_password').value;
        var comfirm_password = document.getElementById('id_confirm_password').value;
        data = `password=${password}&confirm_password=${comfirm_password}`;
        var url = window.location.href
        console.log(url)
        request.open("POST", url, true);
        request.setRequestHeader("X-CSRFToken", csrftoken);
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        request.send(data);
    }

    </script>
    </body>
</html>