<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Employee Management</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script type="text/javascript" src="{% static 'js/custom.js'%}"></script>
    </head>
    <body>

        <h2 id = "forgot-pass-header" class="form-header recover-pwd">Forgot password</h2>
        <form id = "restore-pass-form" name="forgetpassword" method="post" onsubmit="return validateAddress();" class="form">
            {% csrf_token %}
            <p id="mess">Please enter your email adress and we'll send you instruction on how to reset your password</p>
            <div class="formarea" id = "formarea">

                {{ form.as_p }}

                <input type="submit" class="btn sendbtn" value="Send" onclick="sentPass()">

            </div>
        </form>
    </body>
</html>